/* Basis CSS */
html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
}

/* cover the inset section on an Apple */
@supports(padding:max(0px)){
  body, header, footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
